In [2]:
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd

In [3]:
#importation du dataset 
df = pd.read_csv('./Data.csv')

In [4]:
df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [9]:
x = df.iloc[:, :-1].values
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [10]:
y = df.iloc[:, -1].values
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

In [ ]:
#gestion des valeurs manquante 
from sklearn.preprocessing import Imputer

ImportError: cannot import name 'imputer' from 'sklearn.preprocessing' (c:\Users\Phnix01\.conda\envs\memoproj\Lib\site-packages\sklearn\preprocessing\__init__.py)